.vis-panel.vis-right {
  width: 2rem;
}

.vis-time-axis.vis-foreground {
  position: fixed;
  top: calc(60vh - 2rem);
  right: calc(4rem + 0.3 * (100vw - 4rem));
  width: calc(100vw - 4rem - 0.3 * (100vw - 4rem));
  padding-right: 2rem;
  z-index: 401;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 5px solid; */
  height: 2rem !important;
  display: flex;
  align-items: center;
}

.vis-label[title]:hover::after {
  content: attr(title);
  position: fixed;
  z-index: 400;
  top: 53vh;
  height: 7vh;
  right: 32vw;
  width: calc(100% - 4rem);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* [data-id]:hover::after {
  content: attr(data-id);
  position: fixed;
  z-index: 400;
  top: 0;
  height: 7vh;
  right: 0;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#recDetails {
  opacity: 1;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}

[data-id]:hover {
  border: 3px solid /* #97b0f8 */ rgba(0, 0, 0, 0.7);
}

.red .vis-item,
.red.vis-label,
#recDetails.red {
  background-color: rgb(244, 67, 54);
}

.blue .vis-item,
.blue.vis-label,
#recDetails.blue {
  background-color: rgb(33, 150, 243);
}

.orange .vis-item,
.orange.vis-label,
#recDetails.orange {
  background-color: rgb(219, 132, 0);
}

.mediumpurple .vis-item,
.mediumpurple.vis-label,
#recDetails.mediumpurple {
  background-color: #9370db;
}

.deepskyblue .vis-item,
.deepskyblue.vis-label,
#recDetails.deepskyblue {
  background-color: #00bfff;
}

.teal .vis-item,
.teal.vis-label,
#recDetails.teal {
  background-color: #008080;
}

.lightgreen .vis-item,
.lightgreen.vis-label,
#recDetails.lightgreen {
  background-color: #8bc34a;
}

.gold .vis-item,
.gold.vis-label,
#recDetails.gold {
  background-color: #ffd700;
}

@keyframes highlight {
  0% {
    border: 0px solid black;
  }
  100% {
    border: 3px solid black;
  }
}
