body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.MuiList-root.MuiMenu-list.MuiList-padding {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@keyframes slideGrid {
  0% {
    grid-template-rows: 7% 31% 31% 31%;
  }
  33% {
    grid-template-rows: 7% 52% 21% 20%;
  }
  66% {
    grid-template-rows: 7% 72% 11% 10%;
  }
  33% {
    grid-template-rows: 7% 93% 0% 0%;
  }
}
